{{% BLOCKS }}
<!DOCTYPE html>
<html lang="{{ fw.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{$ title }}{{/ title }}</title>
        <meta name="description" content="{{$ description }}{{/ description }}">
        <meta name="keywords" content="{{$ keywords }}{{/ keywords }}">
        {{$ styles }}
        <link rel="stylesheet" type="text/css" href="/static/build{{ fw.assets.css }}">
        {{/ styles }}
    </head>
    <body>
        <div class="page">
            <h1>miniphpfw-project</h1>
            <div class="content">
                {{$ content }}{{/ content }}
            </div>
            {{$ scripts }}
            <script src="/static/build{{ fw.assets.js }}"></script>
            {{/ scripts }}
        </div>
    </body>
</html>