{{% BLOCKS }}
{{< layout/master }}

{{$ title }}Not found - miniphpfw-project{{/ title }}
{{$ description }}Not found{{/ description }}
{{$ keywords }}not found, 404{{/ keywords }}

{{$ content }}

<div class="error-404">
    <h2>404</h2>
</div>

{{/ content }}
{{/ layout/master }}