{{% BLOCKS }}
{{< layout/master }}

{{$ title }}Home - miniphpfw-project{{/ title }}
{{$ description }}Home page{{/ description }}
{{$ keywords }}home, page{{/ keywords }}

{{$ content }}

<div class="home">
    <p>project can start ...</p>
</div>

{{/ content }}
{{/ layout/master }}