<!DOCTYPE html>
<html>
    <head>
        <title>miniphpfw-project</title>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    </head>
    <body>
        <div>
            <h1>miniphpfw-project</h1>