<!DOCTYPE html>
<html>
    <head>
        <title>miniphpfw-project</title>
        <link rel="stylesheet" type="text/css" href="/static/build{{ fw.assets.css }}">
    </head>
    <body>
        <div class="page">
            <h1>miniphpfw-project</h1>